/* Global Default Settings */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Custom Properties */

:root {
  /* font sizes */
  --fs-body: 1.8rem;
  --fs-headingXS: 2.4rem;
  --fs-headingS: 3.2rem;
  --fs-headingM: 5.6rem;
  --fs-headingL: 8rem;
  /* font weights */
  --fw-body-reg: 400;
  --fw-heading-semibold: 600;
  /* font Colours */
  --fc-primary-default: #24053e;
  --fc-primary-hover: #44ffa1;
  --fc-secondary-default: #fff;
  /* Line Spacing */
  --ls-body: 3.2rem;
  --ls-headingS: 4rem;
  --ls-headingM: 5.6rem;
  --ls-headingL: 8rem;
  /* Background Colours */
  --bg-colour-hero: #24053e;
  --bg-colour-primary: #fcf8ff;
  --bg-colour-secondary: #ffffff;
  --bg-colour-social: #584d62;
  /* Button Colours */
  --btn-primary-default: #44ffa1;
  --btn-primary-hover-default: #24053e;
}

/* Utility Classes */

.d-flex {
  display: flex;
}

.headings {
  font-family: "Fraunces", serif;
  font-weight: var(--fw-heading-semibold);
}

.btn {
  background-color: var(--btn-primary-default);
  color: var(--fc-primary-default);
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
}

.hero__text--underline {
  text-decoration: underline solid #44ffa1;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

/* --------------------------- */

body {
  font-family: "Manrope", sans-serif;
  font-size: var(--fs-body);
  line-height: var(--ls-body);
}

.main-container {
  /* border: 2px solid blue; */
  margin: 0 auto;
  max-width: 144rem;
}

/* Hero Section */

.hero {
  background-color: var(--bg-colour-hero);
  border-bottom-left-radius: 60% 10%;
  border-bottom-right-radius: 50% 10%;
  height: 70rem;
  max-width: 144rem;
  position: relative;
}

.hero__nav {
  justify-content: space-between;

  padding: 4.5rem 16.5rem 0 16.5rem;
  margin-top: 1rem;
}

.hero__nav__btn {
  color: var(--fc-secondary-default);
  font-weight: bold;

  text-decoration: none;
}

.hero__bg__img1 {
  max-width: 35rem;
  position: absolute;
  top: 15%;
  right: 87%;
}

.hero__bg__img2 {
  position: absolute;
  top: 40%;
  left: 90%;
}

.hero__heading__section {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  max-width: 63.5rem;
}

.hero__title {
  color: var(--fc-secondary-default);
  font-size: var(--fs-headingL);
  line-height: var(--ls-headingL);
  padding-top: 6.3rem;
  text-align: center;
}

.hero__img {
  max-width: 76.7rem;
}

/* Produnt Info Section */

.product-info {
  align-items: center;
  color: var(--fc-primary-default);
  gap: 2.5rem;
  margin: 0 auto;
  margin-top: 25rem;
  max-width: 111.4rem;
  text-align: center;
}

.product__card {
  text-align: center;
  margin-bottom: 28.1rem;
  max-width: 35.4rem;
}

.product__card__number {
  border: 1px solid var(--fc-primary-default);
  border-radius: 100%;
  display: inline;
  font-size: var(--fs-headingXS);
  font-weight: var(--fw-body-reg);
  padding: 0.8rem 1.7rem;
}

.product__card__heading {
  font-size: var(--fs-headingS);
  line-height: var(--ls-headingS);
  margin: 5.6rem 0 2.8rem 0;
}

/* CTA Section */

.cta__card {
  flex-direction: column;
}

.cta__img {
  max-width: 47.7rem;
}
