/* Global Default Settings */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* Custom Properties */

:root {
  /* font sizes */
  --fs-bodyS: 1.7rem;
  --fs-body: 1.8rem;
  --fs-headingXS: 2.4rem;
  --fs-headingS: 3.2rem;
  --fs-headingM: 5.6rem;
  --fs-headingL: 8rem;
  /* font weights */
  --fw-body-reg: 400;
  --fw-heading-semibold: 600;
  /* font Colours */
  --fc-primary-default: #24053e;
  --fc-primary-hover: #44ffa1;
  --fc-secondary-default: #fff;
  /* Line Spacing */
  --ls-body: 3.2rem;
  --ls-headingS: 4rem;
  --ls-headingM: 5.6rem;
  --ls-headingL: 8rem;
  /* Background Colours */
  --bg-colour-hero: #24053e;
  --bg-colour-primary: #fcf8ff;
  --bg-colour-secondary: #ffffff;
  --bg-colour-social: #584d62;
  /* Button Colours */
  --btn-primary-default: #44ffa1;
  --btn-primary-hover-default: #24053e;
}

/* Btn Hover States */

.btn:hover {
  background-color: var(--btn-primary-hover-default);
  color: var(--fc-primary-hover);
  outline: 2px solid var(--btn-primary-default);
}

.social__img:hover {
  cursor: pointer;
}

/* Utility Classes */

.d-flex {
  display: flex;
}

.headings {
  font-family: "Fraunces", serif;
  font-weight: var(--fw-heading-semibold);
}

.btn {
  background-color: var(--btn-primary-default);
  cursor: pointer;
  color: var(--fc-primary-default);
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
}

.hero__text--underline {
  text-decoration: underline solid #44ffa1;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

.margin-center {
  margin: 0 auto;
}

/* --------------------------- */

body {
  font-family: "Manrope", sans-serif;
  font-size: var(--fs-body);
  line-height: var(--ls-body);
}

.main-container {
  /* border: 2px solid blue; */
  /* padding-bottom: 25rem; */
  max-width: 144rem;
}

/* Hero Section */

.hero {
  background-color: var(--bg-colour-hero);
  border-bottom-left-radius: 60% 10%;
  border-bottom-right-radius: 50% 10%;
  height: 70rem;
  max-width: 144rem;
  position: relative;
}

.hero__nav {
  justify-content: space-between;

  padding: 4.5rem 16.5rem 0 16.5rem;
  margin-top: 1rem;
}

.hero__nav__btn {
  color: var(--fc-secondary-default);
  font-weight: bold;

  text-decoration: none;
}

.hero__bg__img1 {
  max-width: 35rem;
  position: absolute;
  top: 15%;
  right: 87%;
}

.hero__bg__img2 {
  position: absolute;
  top: 40%;
  left: 90%;
}

.hero__heading__section {
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 63.5rem;
}

.hero__title {
  color: var(--fc-secondary-default);
  font-size: var(--fs-headingL);
  line-height: var(--ls-headingL);
  padding-top: 6.3rem;
  text-align: center;
}

.hero__img {
  max-width: 76.7rem;
}

/* Produnt Info Section */

.product-info {
  align-items: center;
  background-color: var(--bg-colour-primary);
  color: var(--fc-primary-default);
  gap: 2.5rem;
  margin-top: 25rem;
  max-width: 111.4rem;
  text-align: center;
}

.product__card {
  text-align: center;
  margin-bottom: 28.1rem;
  height: 30.8rem;
  max-width: 35.4rem;
}

.product__card__number {
  border: 1px solid var(--fc-primary-default);
  border-radius: 100%;
  display: inline;
  font-size: var(--fs-headingXS);
  font-weight: var(--fw-body-reg);
  padding: 0.8rem 1.7rem;
}

.product__card__heading {
  font-size: var(--fs-headingS);
  line-height: var(--ls-headingS);
  margin: 5.6rem 0 2.8rem 0;
}

/* CTA Section */

.cta {
  position: relative;
  margin-bottom: 23rem;
  max-width: 111.2rem;
  z-index: 2;
}

.cta__card {
  color: var(--fc-secondary-default);
  background-color: var(--bg-colour-hero);
  flex-direction: column;
  gap: 3.2rem;
  padding: 6.4rem;
  position: absolute;
  left: 38%;
  top: 37%;
  max-width: 73rem;
}

.cta__img {
  max-width: 47.7rem;
}

.cta__heading {
  font-size: var(--fs-headingM);
  font-weight: 400;
  letter-spacing: -0.2rem;
}

.cta__para {
  font-size: var(--fs-bodyS);
  max-width: 60.2rem;
}

.cta__btn {
  max-width: fit-content;
}

.cta__bg__img {
  position: absolute;
  left: 62%;
  top: 62%;
  max-width: 25rem;
}

.footer {
  border-radius: 2px solid teal;
  text-align: center;
}

.footer__logo {
  margin-bottom: 5rem;
}

.footer__socials {
  gap: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
}

/* MEDIA Queries */

/* Tablet */

@media screen and (max-width: 860px) {
  .main-container {
    max-width: 76.8rem;
  }

  /* Hero Section */

  .hero {
    height: 59rem;
  }

  .hero__nav {
    padding: 4rem 3.2rem 0 4rem;
  }

  .hero__heading__section {
    max-width: 57.3rem;
  }

  .hero__title {
    font-size: 6.5rem;
    padding-top: 5.2rem;
  }
  .hero__img {
    position: absolute;
    top: 73%;
    left: 22%;
    max-width: 51rem;
  }

  /* Product Hero Section */

  .product-info {
    flex-direction: column;
    max-width: 57rem;
  }
  .product__card {
    text-align: left;
    height: 0;
    position: relative;
    max-width: 47rem;
  }

  .product__card__heading {
    font-size: 2.8rem;
  }

  .product__card__para {
    font-size: 1.6rem;
  }

  .product__card__number {
    position: absolute;
    top: 80px;
    right: 500px;
  }
}
